.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
nav {
  grid-column: 1 / -1;

}
nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
      }
h1 {
  text-align: center;
}
.pokemon {
  padding: 1.5rem;
  border-radius: 1rem;
}

.App-link {
  color: #61dafb;
}
